@model AttrOleo.Models.Valvola

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Valvola</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modello)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modello)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PressioneTaratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PressioneTaratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificaTaratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificaTaratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScadenzaTaratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScadenzaTaratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reparto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reparto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impianto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impianto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costruttore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costruttore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCreazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCreazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAggiornamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAggiornamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
